@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 35px 0 30px 0;
  background: #f3f3f3;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px 0 0 0;
  height: 30px;
  background: #fff;
  z-index: 100;
  overflow: hidden;
}
#header p {
  display: block;
  float: left;
  padding: 0 10px 0 5px;
}
#header p.nav {
  float: right;
  padding: 0 5px 0 0;
}
#header p span {
  display: inline-block;
  padding: 3px 5px 4px 5px;
}
#header p.nav a {
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  padding: 3px 7px 4px 7px;
  border-radius: 3px;
  cursor: pointer;
  background: #333;
  color: #fff;
}
#header p a:hover {
  background: #aaa;
}
#owner-toggle {
  display: block;
  padding: 0 10px 0 5px;
  margin-top: -1px;
}
#owner-toggle li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 3px 5px 4px 5px;
  border-radius: 3px;
  cursor: pointer;
}
#owner-toggle li:hover {
  background: #ddd;
}
#owner-toggle li .toggle {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background: #aaa;
}

table.queues {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 10px solid #f3f3f3;
  padding: 0;
}
table.queues td {
  padding: 2px;
  text-align: center;
  vertical-align: top;
  position: relative;
}
table.queues .finished-jobs td {
  vertical-align: top;
  padding: 6px;
}
table.queues .running-jobs td {
  vertical-align: bottom;
}
table.queues .queued-jobs td {
  vertical-align: bottom;
  padding: 6px;
}
table.queues .running-jobs .queue {
  min-width: 100px;
  min-height: 150px;
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #ddd;
  white-space: nowrap;
}
table.queues .arrow {
  color: #bbb;
  padding: 4px;
  font-size: 20px;
}
table.queues h2 {
  padding: 3px 0 5px 0;
  text-align: center;
}
ul.jobgroups {
  display: inline-block;
  vertical-align: top;
  margin-right: 1px;
  white-space: nowrap;
}
ul.jobgroups > li {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 3px 4px 4px 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #aaa;
  color: rgba(255,255,255,0.8);
  cursor: pointer;
}
ul.jobgroups ul {
  position: relative;
  margin: 3px 0 2px 0;
  font-size: 12px;
  color: rgba(255,255,255,0.5);
  overflow: hidden;
}

table.queues ul.jobgroups > li {
  min-width: 160px;
  max-width: 160px;
  width: 160px;
  margin: 1px 0;
}
table.queues ul.jobgroups > li > span.multi {
  position: absolute;
  right: 5px;
}

#job-table-popup {
  position: relative;
  min-width: 300px;
  border-radius: 4px;
  margin: 0 13px 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  z-index: 90;
  background: #fff;
  overflow-x: hidden;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
}
#job-table-popup a.close-popup {
  position: absolute;
  right: 1px;
  top: 0;
  padding: 7px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
#job-table-popup h2 {
  text-align: left;
  padding: 7px 45px 8px 8px;
  color: #fff;
  background: #aaa;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}
.job-details {
  width: 100%;
  border: 5px solid #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
table.job-details td {
  padding: 4px 15px 4px 5px;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  min-width: 10px;
  width: 10px;
}
table.job-details td:first-child {
  width: 60px;
  min-width: 60px;
}
table.job-details td:last-child {
  padding-right: 5px;
  text-align: right;
  width:     62px;
  min-width: 62px;
  max-width: 62px;
}
.job-details tr:nth-child(odd) td {
  background: #e5e5e5;
}
table.job-details td a {
  text-decoration: none;
  color: #000;
}
table.job-details td a:hover {
  text-decoration: underline;
}
#detailed-job-list {
  display: none;
}
.show-detailed-job-list #detailed-job-list {
  display: table-row;
}
.only-color-detailed-job-list .jobgroup:not(.jobgroup-with-detail) {
  background: #aaa !important;
}


#header p#date-nav-links .current {
  display: inline-block;
  padding: 3px 7px 4px 7px;
  border-radius: 3px;
  background: #f3f3f3;
  background-image: linear-gradient(to bottom, #e8e8e8, #f3f3f3);
  color: #000;
  height: 23px;
}
#header p#date-nav-links a {
  text-decoration: none;
  display: inline-block;
  padding: 3px 7px 4px 7px;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  height: 30px;
}
#header p#date-nav-links a:hover {
  background: #ddd;
}

.memory-stats {
  padding: 5px 12px;
}
.memory-stats h1 {
  margin: 0.1em 0 0.6em 0;
  font-size: 1.5em;
  font-weight: bold;
}
.memory-stats h2 {
  margin: 0.6em 0;
  font-size: 1.7em;
}
.memory-stats p {
  font-family: sans-serif;
  margin: 0.2em 0 0.5em 0;
  font-size: 11px;
}

.memory-stats a {
  text-decoration: none;
  color: #00f;
}
.memory-stats a:hover {
  text-decoration: underline;
}

.memory-stats table {
  font-family: sans-serif;
  font-size: 11px;
}
.memory-stats th, .memory-stats td {
  padding: 2px 5px 2px 1px;
  text-align: left;
  white-space: nowrap;
}
.memory-stats th {
  font-weight: bold;
}
.memory-stats table.legend {
  margin-bottom: 1.2em;
}
.memory-stats table.legend td {
  padding-right: 10px;
}
table.stats {
  table-layout: fixed;
}
table.stats th,
table.stats td {
  overflow-x: hidden;
}
table.stats th:nth-child(1), table.stats td:nth-child(1) { width: 120px; min-width: 120px; max-width: 120px; }
table.stats th:nth-child(2), table.stats td:nth-child(2) { width: 85px;  min-width: 85px;  max-width: 85px; }
table.stats th:nth-child(3), table.stats td:nth-child(3) { width: 105px; min-width: 105px; max-width: 105px; }
table.stats th:nth-child(4), table.stats td:nth-child(4) { width: 150px; min-width: 150px; max-width: 150px; }
table.stats th:nth-child(5), table.stats td:nth-child(5) { width: 35px;  min-width: 35px;  max-width: 35px; }
table.stats th:nth-child(6), table.stats td:nth-child(6) { width: 100px; min-width: 100px; max-width: 100px; }
table.stats th:nth-child(7), table.stats td:nth-child(7) { width: 100px; min-width: 100px; max-width: 100px; }
table.stats th:nth-child(8), table.stats td:nth-child(8) { width: 100px; min-width: 100px; max-width: 100px; }
/* table.stats th:nth-child(8), table.stats td:nth-child(8) { width: 400px; min-width: 400px; max-width: 400px; } */
table.stats tr:hover td {
  background: #ddd;
}
table.stats .r {
  text-align: right;
}
span.mbar-cur {
  background: #777;
  display: inline-block;
  height: 6px;
}
span.mbar-max {
  background: #bbb;
  display: inline-block;
  height: 6px;
}
span.mbar-req {
  background: #b00;
  display: inline-block;
  height: 6px;
}
p.mem-chart {
  font-size: 1px;
  line-height: 1px;
}
p.mem-chart span.entry {
  vertical-align: bottom;
  display: inline-block;
}
p.mem-chart span.entry span {
  vertical-align: bottom;
}
input.filter {
  font-size: 11px;
  width: 90%;
  border: 1px solid #aaa;
  padding: 0;
}
table.total-cluster-mbar {
  margin-bottom: 3.2em;
}
table.total-cluster-mbar th,
table.total-cluster-mbar td {
  padding-right: 0;
  position: relative;
}
table.total-cluster-mbar td + td {
  padding-left: 0;
}
table.total-cluster-mbar div.num {
  position: absolute;
  left: 1px;
  top: 15px;
}
table.total-cluster-mbar td:last-child div.num {
  text-align: right;
  left: auto;
  right: 1px;
}

.matlab-licenses {
  padding: 5px 12px;
}
.matlab-licenses h1 {
  clear: both;
  margin: 0.1em 0 0.6em 0;
  padding-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
.matlab-licenses h1:first-child {
  padding-top: 0;
}
.matlab-licenses h2 {
  padding: 3px;
  font-size: 16px;
  color: #888;
}
.matlab-licenses h2 strong {
  color: #000;
}
.matlab-licenses .toolboxes {
  max-width: 1200px;
}
.matlab-licenses .toolboxes > li {
  display: block;
  float: left;
  width: 200px;
  margin: 0;
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #ddd;
}
.matlab-licenses .toolboxes .users {
  margin: 3px 0 0 0;
}
.matlab-licenses .toolboxes .users > li {
  margin: 2px 0 0 0;
  padding: 3px 4px 4px 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-size: 14px;
}
.matlab-licenses .toolboxes .users > li.in-use {
  color: rgba(255,255,255,0.8);
  /* background: rgba(0,0,150,0.8); */
  background: #437EA5;
}
.matlab-licenses .toolboxes .users > li.available {
  color: #888;
}

#resources-container {
  padding: 5px 12px;
}
#resources-container h1 {
  clear: both;
  margin: 0.1em 0 0.6em 0;
  font-size: 1.5em;
  font-weight: bold;
}
.quota-block {
  max-width: 1000px;
  margin: 0 0 10px 0;
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #ddd;
}
.quota-block h2 {
  padding: 3px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #888;
}
.quota-block .resource-quota {
  margin: 3px 3px 3px 3px;
}
 
.meter { 
  height: 20px;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f5f5f5;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.meter > span.bar {
  display: block;
  height: 100%;
  background-color: #5cb85c;
  -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.10);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.10);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.10);
  position: relative;
  overflow: hidden;
}
.meter-80 > span.bar {
  background-color: #f0ad4e;
}
.meter-90 > span.bar {
  background-color: #d9534f;
}
.meter > span.label {
  display: block;
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 80%;
}

.resource-quota {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.resource-quota tbody tr:last-child th,
.resource-quota tbody tr:last-child td {
  padding-bottom: 15px;
}
.resource-quota tbody:last-child tr:last-child th,
.resource-quota tbody:last-child tr:last-child td {
  padding-bottom: 0;
}
.resource-quota th, .resource-quota td {
  padding-bottom: 3px;
}
.resource-quota th {
  font-size: 90%;
  text-align: left;
  vertical-align: middle;
}
.resource-quota th.node,
.resource-quota th.queue-all-users,
.resource-quota th.user {
  width: 140px;
}
.resource-quota th.user-queue {
  text-align: right;
  color: #888;
  padding-right: 5px;
}
.resource-quota td {
  padding-left: 3px;
  padding-right: 3px;
}



